<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/template.js"></script>
    <script src="/javascripts/My97DatePicker/WdatePicker.js"></script>
  </head>
  <body>
	<div class="wrapper">
		<div class="interval-header">
            <form id="interval-form">
                <ul class="cl">
                    <li>
                        <label>公众平台：</label>
                        <select id="platform-select" class="platform-select" name="platform">
                            <% platform_lists.forEach(function(v) {  %>
                                <option value="<%= v.name %>"><%= v.nick_name %></option>
                            <% }) %>
                        </select>
                    </li>
                    <li>
                        <label>执行方式：</label>
                        <select id="run-mode" class="run-mode" name="mode">
                            <option selected="selected" value="0">重复执行</option>
                            <option value="1">执行一次</option>
                        </select>
                    </li>
                    <li>
                        <label>时间设定：</label>
                        <input name="time" class="datepicker time" id="datepicker" type="text" value="" />
                    </li>
                    <li>
                        <input id="add-interval" class="add-interval" type="button" value="添加定时任务" />
                    </li>
                    <li>
                        <input id="view-interval" class="view-interval" type="button" value="查看定时任务" />
                    </li>
                </ul>
                <ul class="cl hide fsend-box" id="fsend-box">
                    <li>
                        <label>群发文章：</label>
                        <select id="fsend-select" class="fsend-select" name="app_id" disabled="disabled">
                            <% fsend_lists.forEach(function(v) {  %>
                                <option value="<%= v.app_id %>" title="<%= v.app_id %>"><%= v.title %></option>
                            <% }) %>
                        </select>
                    </li>
                </ul>
            </form>
            <div id="loading" class="loading hide">
                正在操作中，请稍后...
            </div>
		</div>
        <div class="interval-body">
            <div class="interval-list">
                   <table>
                       <thead>
                           <tr>
                               <th>任务ID</th>
                               <th>平台</th>
                               <th>标题</th>
                               <th>app_id</th>
                               <th>执行方式</th>
                               <th>启动时间</th>
                               <th>上次执行时间</th>
                               <th>执行结果</th>
                               <th>执行次数</th>
                               <td>操作</td>
                           </tr>
                       </thead>
                       <tbody id="task-list">
                            <% modeText = ["重复执行", "执行一次"]; %>
                            <% taskList.forEach(function(v){ %>
                                <tr>
                                    <td><%= v.taskIndex %></td>
                                    <td><%= v.platform %></td>
                                    <td><%= v.title || '空' %></td>
                                    <td><%= v.app_id || '空' %></td>
                                    <td><%= modeText[+v.mode] %></td>
                                    <td><%= v.time %></td>
                                    <td><%= v.prevTime || '空'  %></td>
                                    <td><%= v.successStatus || 0 %></td>
                                    <td><%= v.excuteNum || 0 %></td>
                                    <td>
                                        <input data-task-index="<%= v.taskIndex %>" class="remove-interval" type="button" value="删除定时任务" />
                                    </td>
                                </tr>
                            <% }) %>
                       </tbody>
                   </table>
            </div>
        </div>
    </div>
  <script type="text/html" id="fsend-template">
      {{ fsend_lists.forEach(function(v) {  }}
            <option value="{{= v.app_id }}" title="{{= v.app_id }}">{{= v.title }}</option>
      {{ }) }}
  </script>

    <script type="text/html" id="tasklist-template">
        {{ modeText = ["重复执行", "执行一次"]; }}
        {{ taskList.forEach(function(v) {  }}
            <tr>
                <td>{{= v.taskIndex }}</td>
                <td>{{= v.platform }}</td>
                <td>{{= v.title || '空' }}</td>
                <td>{{= v.app_id || '空' }}</td>
                <td>{{= modeText[+v.mode] }}</td>
                <td>{{= v.time }}</td>
                <td>{{= v.prevTime || '空'  }}</td>
                <td>{{= v.successStatus || 0 }}</td>
                <td>{{= v.excuteNum || 0 }}</td>
                <td>
                    <input data-task-index="{{= v.taskIndex }}" class="remove-interval" type="button" value="删除定时任务" />
                </td>
            </tr>
        {{ }) }}
    </script>

  <script>
      jQuery(function(){

          var loading = $('#loading');

          var getFsendList = function( platform_name, cb){
                  loading.show();
                  $.ajax({
                      url : '/getSeqList',
                      type : 'get',
                      dataType : 'json',
                      data : {
                          platform_name : platform_name
                      },
                      success : function( res ){
                          if( res.success ) {
                              loading.hide();
                              $('#fsend-select').html( template.render('fsend-template', {
                                  fsend_lists : res.data
                              }));
                              cb && cb();
                          }
                      }
                  });
          };



          $(document).on('change', '.platform-select', function(){
              var platform_name = this.value;
              var runMode = $('#run-mode').val();

              if( runMode == 1) {
                  getFsendList(platform_name);
              }
          });

          $(document).on('change', '.run-mode', function(){
              var runMode = this.value;
              $('.datepicker').attr('id', 'datepicker' + runMode).val('');
              if ( runMode == 0 ){
                  $('#fsend-box').hide();
                  $('.fsend-select').attr('disabled', true);
              } else if( runMode == 1)  {
                  getFsendList($('#platform-select').val(), function(){
                      $('.fsend-select').attr('disabled', false);
                      $('#fsend-box').show();
                  });
              }
          });

          /** 加载日历控件 */
          $(document).on('click', '.datepicker', function(){
              var $this = $(this),
                  $li = $this.closest('li'),
                  html = $li.html();

              var runMode = $('#run-mode').val();
              $('.datepicker').attr('id', 'datepicker' + runMode).val('');
              if( runMode == 0 ) {
                  WdatePicker({
                      el : 'datepicker' + runMode,
                      skin:'twoer',
                      dateFmt:'HH:mm:ss'
                  });
              } else if( runMode == 1) {
                  WdatePicker({
                      el : 'datepicker' + runMode,
                      skin:'twoer',
                      dateFmt:'yyyy-MM-dd HH:mm:ss'
                  });
              }
          });

          /** 添加定时任务 */
          $(document).on('click', '.add-interval', function(){
              var serializeArray = $('#interval-form').serializeArray(),
                  fsendSelect = $('#fsend-select')[0];
              if( !$(fsendSelect).attr('disabled') ) {
                   var selectText = fsendSelect.options[fsendSelect.selectedIndex].text
                  serializeArray.push({
                      name : "title",
                      value : selectText
                  });
              }
              loading.show();
              $.ajax({
                  url : '/addTask',
                  type : 'get',
                  dataType : 'json',
                  data : serializeArray,
                  success : function( res ){
                      if( res.success ) {
                          loading.hide();
                          $('#task-list').append( template.render('tasklist-template', {
                              taskList : res.data
                          }));
                      }
                  }
              });
          });

          /** 删除定时任务 */
          $(document).on('click', '.remove-interval', function(){
              var $this = $(this),
                  taskindex = $this.attr('data-task-index'),
                  tr = $this.closest('tr');
              loading.show();
              $.ajax({
                  url : '/removeTask',
                  type : 'get',
                  dataType : 'json',
                  data : {
                      taskindex : taskindex
                  },
                  success : function( res ){
                      if( res.success ) {
                          loading.hide();
                          tr.remove();
                      }
                  }
              });

          });


          /** 查看定时任务 */
          $(document).on('click', '.view-interval', function(){
              var $this = $(this);
              loading.show();
              $.ajax({
                  url : '/viewInterval',
                  type : 'get',
                  dataType : 'json',
                  success : function( res ){
                      if( res.success ) {
                          loading.hide();
                          alert( res.data );
                      }
                  }
              });

          });

      });
  </script>
  </body>
</html>